@primary: #232323;
@secondary: #C85590;
@textColor: rgba(255, 255, 255, 0.7);

html, body {
  background-color: @primary;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

section {
  background-color: darken(@primary, 5%);
  background-image: data-uri('../images/feather.png');
  background-position: 530px 5px;
  background-repeat: no-repeat;
  background-size: 60px;
  -webkit-app-region: drag;
  cursor: move;

  input {
    outline: none;
    font-size: 40px;
    width: 500px;
    padding: 10px;
    border: 0;
    background-color: transparent;
    -webkit-app-region: no-drag;
    cursor: auto;
    color: @textColor;
  }

  ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid darken(@primary, 10%);
    max-height: 333px;
    overflow: scroll;

    li {
      display: block;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid darken(@primary, 10%);
      -webkit-app-region: no-drag;
      cursor: pointer;

      img {
        height: 30px;
        width: 30px;
        margin: 7.5px;
        float: left;
        opacity: 0.75;
      }

      h2, h3 {
        margin: 0;
        padding-left: 10px;
        color: @textColor;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Sans Unicode", "Lucida Grande", sans-serif;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        line-height: 25px;
        &:last-child {
          font-size: 20px;
          line-height: 45px;
        }
      }

      h3 {
        font-size: 15px;
        line-height: 15px;
      }

      &.active {
        background-color: lighten(@primary, 8%);
      }
    }
  }
}
